<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="height: 10rem; display: flex; justify-content: center; align-items: center; ">
    <ion-title class="sigmar-regular" style="text-align: center; font-size:xx-large;">
      Müll-O-Mat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding center-content" style="height: 100%;">
    <br>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
      <h3 class="shippori-antique">Um heraus zu finden, in welche Tonne dein Müll kommmt, lege den Müll vor die Kamera</h3>
    </div> 
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; height: 100%">
        <ng-container *ngIf="buttonPressed === true && isLoading === false">
          <h1 class="shippori-antique">Das ist ein {{ classifiedCategory }} und gehört in den</h1>
          <div [style.background-color]="getTrashColor(classifiedTrashCategory)" class="sigmar-regular" style="
          margin: 20px; padding-inline-start: 40px; padding-inline-end: 40px; padding-top: 10px; padding-bottom: 15px;">
            <h1 class="sigmar-regular" style="color: #EBECED;">{{ classifiedTrashCategory }} </h1>
          </div>
          <div>
            <h3>Hinweis: 

            </h3>
          </div>
          <!-- only show in dev-mode -->
          <div style="margin-top: 10px;" *ngFor="let prediction of predictions">
            <span>{{ prediction }}</span>
          </div>
        </ng-container>
        <ng-container *ngIf="buttonPressed === false">
          <ion-button (click)="onButtonPressed()" color="primary" size="large" class="sigmar-regular">Bild aufnehmen</ion-button>
        </ng-container>
        <ng-container *ngIf="isLoading === true">
          <ion-spinner name="circles" style="height: 56px; width: 56px;"></ion-spinner>
        </ng-container>
      </div>
  </div>
</ion-content>